<h1>Users</h1>

<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user) { %>
      <tr>
        <td>
          <a href="/profile/users/edit/<%= user.id %>"><%= user.id %></a>
        </td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <a href="/profile/users/edit/<%= user.id %>" title="Edit">
            <i class="fa-regular fa-pen-to-square"></i>
          </a>
          <a href="/profile/users/delete/<%= user.id %>" title="Delete">
            <i class="fa-solid fa-trash-can"></i>
          </a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
